
.assignment-name {
    font-size: 25px;
    word-wrap: break-word;
    padding-right: 20px;
}

.page-content {
    margin-top: 20px;
}

.main-body {
    border-radius: 6px;
    padding: 10px;
}

.course-name {
    font-size: 17px;
    color: grey;
}

.remark {
    margin-bottom: 5px;
    width: 100%;
}

.new-question-template {
    margin-bottom: 10px;
}

.new-question-template, .question-template {
    padding: 10px;
    border-color: black !important;
}

.create-question {
    margin-bottom: 10px;
}

.new-question-no {
    max-width: 70px;
    color: black;
    font-weight: bold;
}

.new-question-grades {
    padding: 0 !important;
    border-color: black !important;
}

input[type=checkbox]{
    margin-right: 4px;
}

textarea{
    resize: none;
}

.feed-forward-container {
    padding-right: 40px;
    padding-left: 40px;
}

.main-body {
    margin-bottom: 30px;
}

.question h5 {
    padding: 7px 4px 7px 4px;
}

.assignment-url {
    font-size: 14px !important;
    word-wrap: break-word;
}